<%= bootstrap_form_for(@photo, 
                        class: 'form-wrapper', 
                        html: { multipart: true }) do |f| %>

    <% if @photo.errors.any? %>
        <h2><%= pluralize(@photo.errors.count, "error") %> prevented this photo from saving:</h2>
        <ul>
            <% @photo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= f.file_field :image %>
    <%= f.text_field :location_title %>
    <%= f.text_field :location %>
    <%= f.submit "Submit" %>
<% end %>